<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Social
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Publicações</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-searchbar showCancelButton="always"></ion-searchbar>
</ion-content>
<ion-button id="click-trigger">Não vê nada?</ion-button>
<ion-popover trigger="click-trigger" triggerAction="click">
  <ng-template>
    <ion-content class="ion-padding">Siga seus amigos para ver seus posts!</ion-content>
  </ng-template>
</ion-popover>
